:root {
  --main-color: #1e1e1e;
  --primary-color: #57acdc;
  --white-color: #fff;
  --text-color: #939393;
  --table-color: #252525;
}

* {
  box-sizing: border-box;
  margin: 0px;
  padding: 0px;
  border: none;
  outline: none;
}

html[dir="ltr"] body {
  font-family: "Poppins", sans-serif;
}

html[dir="rtl"] body {
  font-family: "Poppins", sans-serif;
}

html[dir="rtl"] body {
  direction: rtl;
}

html[dir="ltr"] body {
  direction: ltr;
}

img {
  object-fit: cover;
}

p {
  margin: 0;
}

a {
  text-decoration: none;
  transition: all 0.3s ease-in-out;
}

body {
  display: flex;
  background-color: var(--main-color);
}

.flex {
  display: flex;
  justify-content: center;
  align-items: center;
}

.flex-start {
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.flex-between {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.sidebar {
  position: sticky;
  top: 0;
  left: 0;
  bottom: 0;
  width: 250px;
  height: 100vh;
  color: var(--white-color);
  overflow: hidden;
  transition: all 0.3s ease-in-out;
  background-color: #121212;
}

.logo {
  height: 80px;
  padding: 10px;
}

.new-folder {
  gap: 0.5rem;
  font-weight: 500;
  padding: 10px 15px;
  background-color: var(--primary-color);
  border-radius: 50px;
  margin: 25px;
  width: 155px;
  cursor: pointer;
  font-size: 15px;
}

.new-folder i {
  padding-inline-start: 5px;
  font-size: 22px;
  color: var(--white-color);
}

.menu {
  list-style: none;
  position: relative;
  padding: 0px;
}

.menu li {
  padding: 1rem;
  margin: 8px 0px;
  border-radius: 8px;
  transition: all 0.8s ease-in-out;
  position: relative;
}

.menu li:hover::before,
.menu li.active a::before,
.menu li:hover a::before {
  content: "";
  position: absolute;
  top: 10px;
  left: 0;
  width: 7px;
  height: 32px;
  background: linear-gradient(
    to bottom,
    var(--primary-color) 0%,
    var(--primary-color) 100%,
    transparent 50%,
    transparent 100%
  );
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
}

.menu li:hover a,
.menu .active a {
  color: var(--primary-color);
}

.logo a,
.menu a {
  color: var(--text-color);
  font-size: 16px;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 1.5rem;
  padding-inline-start: 25px;
}

.logo a {
  color: var(--primary-color);
  font-weight: 700;
  font-size: 24px;
}

.menu a span {
  overflow: hidden;
}

.menu a i {
  font-size: 1.2rem;
}

.menu {
  border-bottom: 1px solid var(--main-color);
}

.storage {
  padding: 15px;
}

.storage-icon {
  font-size: 16px;
  gap: 1.5rem;
  color: var(--text-color);
  margin: 30px 0;
}

.storage-icon i {
  padding-inline-start: 40px;
}

.storage-circle {
  width: 180px;
  display: flex;
  flex-direction: column;
  background-color: var(--main-color);
  border-radius: 10px;
  margin: 30px auto;
}

.circle-wrap {
  margin: 30px auto 10px auto;
  width: 150px;
  height: 150px;
  background-color: #121212;
  border-radius: 50%;
}

.circle-wrap .main-circle .mask,
.circle-wrap .main-circle .fill {
  width: 150px;
  height: 150px;
  position: absolute;
  border-radius: 50%;
}

.circle-wrap .main-circle .mask {
  clip: rect(0px, 150px, 150px, 75px);
}

.circle-wrap .main-circle .mask .fill {
  clip: rect(0px, 75px, 150px, 0px);
  background-color: #00526f;
}

.circle-wrap .main-circle .mask .fill,
.circle-wrap .main-circle .fill {
  animation: fill 2s ease-in-out;
  transform: rotate(50deg);
}

@keyframes fill {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(50deg);
  }
}

.circle-wrap .inside-circle {
  position: absolute;
  width: 125px;
  height: 125px;
  border-radius: 50%;
  background-color: var(--main-color);
  line-height: 125px;
  text-align: center;
  margin-top: 13px;
  margin-left: 13px;
  z-index: 100;
  font-weight: 700;
  color: var(--primary-color);
}

.storage-circle span {
  display: flex;
  margin: 10px auto;
  color: var(--text-color);
  font-size: 14px;
  font-weight: 500;
}

.main {
  width: 100%;
  margin: 0 auto;
  padding: 20px;
}

.header-content {
  width: 100%;
}

.search {
  position: relative;
  width: 600px;
  height: 48px;
}

.search input {
  height: 48px;
  background-color: var(--main-color);
  border: 1px solid var(--text-color);
  border-radius: 10px;
  padding: 0 50px;
  caret-color: var(--text-color);
  width: 100%;
}

.search i {
  position: absolute;
  top: 13px;
  left: 15px;
  color: var(--text-color);
  font-size: 22px;
}

.search img {
  position: absolute;
  top: 13px;
  right: 15px;
}

.file-upload {
  width: 330px;
}

.file-upload-input {
  display: none;
}

.file-upload-label {
  padding: 10px 20px;
  color: var(--white-color);
  border-radius: 10px;
  cursor: pointer;
  border: 1px dashed var(--text-color);
  width: 100%;
  height: 48px;
}

.file-upload-label p {
  margin: 0;
  color: var(--text-color);
  font-size: 14px;
}

.file-upload-label i {
  margin-inline-end: 5px;
}

.file-upload-label span {
  color: var(--primary-color);
  font-size: 14px;
  margin: 0 5px;
  text-decoration: underline;
}

.user-info {
  width: 35px;
  height: 35px;
  border-radius: 50%;
  background-color: #242e22;
}

.profile {
  padding: 20px 0;
  border-bottom: 1px solid rgb(250, 250, 250, 0.1);
}

.profile p {
  color: #fafafa;
  font-size: 18px;
}

.user-data p {
  color: var(--text-color);
  font-size: 12px;
}

.filter-icon {
  border-right: 1px solid rgb(250, 250, 250, 0.1);
  border-left: 1px solid rgb(250, 250, 250, 0.1);
  margin-inline-start: 10px;
}

.option-icon,
.filter-icon {
  padding: 10px 10px 0px 10px;
}

.custom-checkbox label {
  display: block;
  margin-bottom: 10px;
  cursor: pointer;
}

.custom-checkbox input[type="radio"],
.custom-checkbox input[type="checkbox"] {
  appearance: none;
  background-color: var(--main-color);
  width: 20px;
  height: 20px;
  border: 1px solid var(--text-color);
  border-radius: 4px;
  display: inline-grid;
  place-content: center;
}

.custom-checkbox input[type="radio"]::before,
.custom-checkbox input[type="checkbox"]::before {
  content: "";
  width: 10px;
  height: 10px;
  transform: scale(0);
  transform-origin: bottom left;
  background-color: var(--white-color);
  clip-path: polygon(13% 50%, 34% 66%, 81% 2%, 100% 18%, 39% 100%, 0 71%);
}

.custom-checkbox input[type="radio"]:checked::before,
.custom-checkbox input[type="checkbox"]:checked::before {
  transform: scale(1);
}

.custom-checkbox input[type="radio"]:checked,
.custom-checkbox input[type="checkbox"]:checked {
  background-color: var(--text-color);
}

table {
  width: 100%;
  border-collapse: collapse;
}

table tfoot::before,
table tbody::before {
  content: "";
  display: block;
  height: 10px;
}

table > tbody > tr:nth-of-type(odd) {
  background-color: transparent;
  border: 1px solid transparent;
  border-radius: 15px;
}

table > tbody > tr:nth-of-type(even) {
  background-color: var(--table-color);
  border: 1px solid var(--table-color);
  border-radius: 15px;
  outline: var(--table-color) solid 1px;
}

table thead th:first-child,
table tbody td:first-child {
  width: 10px;
  height: 20px;
  border-radius: 10px 0px 0px 10px;
}

table thead th:last-child,
table tbody td:last-child {
  border-radius: 0px 10px 10px 0px;
}

table tbody td:last-child {
  width: 270px;
}

table thead th,
table tbody td {
  padding: 12px;
  color: rgb(250, 250, 250, 0.7);
}

table thead th {
  font-size: 16px;
}

table tbody td {
  font-size: 14px;
}

table thead th {
  text-align: start;
}

table thead th:first-child {
  text-align: center;
}

table tbody td:nth-child(2) {
  color: #fafafa;
  font-size: 14px;
}

.truncate-modified,
.truncate-text {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.truncate-text {
  width: 140px;
}

.truncate-modified {
  width: 240px;
}

table thead tr {
  background-color: #171717;
}

table::-webkit-scrollbar {
  width: 10px;
}

.table-data {
  overflow-y: scroll;
  height: 500px;
  display: block;
  width: 100%;
}

.table-data::-webkit-scrollbar {
  width: 8px;
}

.table-data::-webkit-scrollbar-track {
  background-color: #171717;
  border-radius: 8px;
}

.table-data::-webkit-scrollbar-thumb {
  background-color: #121212;
  border-radius: 8px;
}
